<h1>商品一覧</h1>
全<%= Item.count %>件
<% @items.each do |item| %>
  <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_image(200,200) %>
   <%= item.name %>
  ¥<%= item.price %>
    <% end %>
<% end %>
<%= paginate @items %>