<%= image_tag @item.get_image(400,300) %>
<h4><%= @item.name %></h4>
  <%= @item.introduction %>
  ¥<%= @item.price %>（税込）
  <%= form_with model: @cart_item, url: cart_items_path do |f| %>
    <%= f.select :amount, *[1..5] , include_blank: "選択して下さい" %>
    <%= f.hidden_field :item_id, :value => @item.id %>
       <%= f.submit 'カートに入れる'%>
<% end %>
